<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Theater Booking</title>
</head>
<body>
    <h1>Theater Booking</h1>
<h2>Seat availability</h2>

    <form action="/checkAvailability" th:object="${bean}" method="POST">
        <p>Check if seat number
            <select th:field="*{selectedSeatNum}">
                <option th:each="n : ${seatNums}" th:value="${n}" th:text="${n}" />
            </select>
            in row
            <select th:field="*{selectedSeatRow}">
                <option th:each="r : ${seatRows}" th:value="${r}" th:text="${r}" />
            </select>
            is available for performance
            <select th:field="*{selectedPerformance}">
                <option th:each="p : ${performances}" th:value="${p.id}" th:text="${p.title}" />
            </select>

            <input type="submit"/></p>

    </form>

    <div th:if="${bean.available}">
        Seat <span th:text="${bean.seat}">seatNumber</span> is available for this performance - do you want to book it?

        <form action="/booking" method="POST" th:object="${bean}">
            <input type="hidden" th:field="*{seat}" />
            <input type="hidden" th:field="*{performance}"/>
            Customer Name: <input type="text" th:field="*{customerName}" />
            <input type="submit" value="Book now" />
        </form>
    </div>

    <p th:if="${bean.available== false}">
        I'm sorry - this seat is already booked for this performance. The customer is <span th:text="${bean.booking.customerName}"}></span></a>
    </p>

</body>
</html>